<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BASE64 ENCODE ONLINE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="base64 encode, encode base64 online, encode text to base64, mime tools">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>


<section  class="pb-5">
    <div class="container-fluid main-section">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="text-center">
                    <h3>BASE64 ONLINE ENCODER</h3>
                </div>
                <div class="row">
                    <div class="col-md-6 flex-column border-right">
                        <div class="container m-0">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="text-decode" data-toggle="tab" href="#textdecode"
                                       role="tab" aria-controls="text-decode" aria-selected="true">Text encoder</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="file-decode" data-toggle="tab" href="#filedecode"
                                       role="tab" aria-controls="file-decode" aria-selected="false">File encoder</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="textdecode" role="tabpanel" aria-labelledby="text-decode"
                                     class="tab-pane fade show active">
                                    <div class="mt-3">
                                        <form th:action="@{/mime-tools/base64-encoder.html}" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="charsetSelect">Origin Charset</label>
                                                <select class="form-control" name="charset" id="charsetSelect">
                                                    <option value="UTF-8">UTF-8</option>
                                                    <option value="US-ASCII">US-ASCII</option>
                                                    <option value="ISO-8859-1">ISO-8859-1</option>
                                                    <option value="UTF-16BE">UTF-16BE</option>
                                                    <option value="UTF-16LE">UTF-16LE</option>
                                                    <option value="UTF-16">UTF-16</option>
                                                </select>
                                                <small id="sourceCharsetHelp" class="form-text text-muted">Provide charset of origin text. UTF-8 is used by default.</small>
                                            </div>

                                            <div class="form-group" id="textareaFormGroup">
                                                <textarea class="form-control h-100" name="data" id="data" rows="10"
                                                          placeholder="Paste text data here." autofocus></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="outputType">Get result by</label>
                                                <select class="form-control" name="output" id="outputType">
                                                    <option value="0">Text</option>
                                                    <option value="1">File download</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Encode now</button>
                                        </form>
                                    </div>
                                </div>
                                <div id="filedecode" class="tab-pane fade">
                                    <div class="mt-3">
                                        <form th:action="@{/mime-tools/base64-encoder.html}" method="post"
                                              enctype="multipart/form-data">
                                            <div class="form-group">
                                                <input type="file" class="form-control-file" name="file"
                                                       aria-describedby="fileUploadHelp">
                                                <small id="fileUploadHelp" class="form-text text-muted">Max file
                                                    size: 5MB</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="outputType">Output type</label>
                                                <select class="form-control" name="output">
                                                    <option value="0">Text</option>
                                                    <option value="1">File download</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Encode now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 flex-column">
                        <div class="container m-0 border-bottom">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Encoded result</h3>
                                </div>
                                <div class="col-md-6 d-flex justify-content-end">
                                    <button class="btn btn-sm btn-primary btn-clipboard-copy m-1"
                                            data-clipboard-target=".encoded-text-container">
                                        <i class="fas fa-copy"></i>
                                    </button>
                                    <button class="btn btn-sm btn-primary btn-download-file m-1"
                                            data-target-element=".encoded-text-container"
                                            data-download-filename="base64-decoded">
                                        <i class="fas fa-download"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card ou-mt-18">
                            <div class="card-body card-block">
                                <div class="card-text encoded-text-container" th:text="${dataencoded}">Result goes here.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
</body>
</html>