<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BASE64 DECODE ONLINE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="base64 decode, decode base64 online, decode text to base64, mime tools">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container-fluid main-section">
        <div class="row"></div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-ls-3 col-xl-3"></div>
            <div class="col-xs-12 col-md-6">
                <div class="text-center">
                    <h2>Base64 decode online: Text and File.</h2>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <form th:action="@{/mime-tools/base64-decoder.html}" method="post" enctype="multipart/form-data">
                                <div class="form-check file-upload-option">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input " name="" id="" data-show-element="#fileUploadFormGrp" data-hide-element="#textareaFormGroup">
                                        Encode for file
                                    </label>
                                </div>

                                <div class="form-group hide-by-default" id="fileUploadFormGrp">
                                    <label for="">Upload file</label>
                                    <input type="file" class="form-control-file" name="file" placeholder=""
                                           aria-describedby="fileUploadHelp">
                                    <small id="fileUploadHelp" class="form-text text-muted">Max file size: 5MB</small>
                                </div>

                                <div class="form-group" id="textareaFormGroup">
                                    <label for="data">String to decode</label>
                                    <textarea class="form-control tinymce-editor" name="data" id="data" autofocus></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="outputType">Output type</label>
                                    <select class="form-control" name="output" id="outputType">
                                        <option value="0">Text</option>
                                        <option value="1">File download</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Decode now</button>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-danger" role="alert" th:if="${errors != null && !errors.isEmpty()}">
                                <ul th:each="error : ${errors}">
                                    <li th:text="${error}"></li>
                                </ul>
                            </div>
                            <div class="card">
                                <div class="card-header container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>Decoded value</p>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-sm btn-primary btn-clipboard-copy"
                                                    data-clipboard-target=".encoded-text-container"><i
                                                    class="fas fa-copy"></i></button>
                                            <button class="btn btn-sm btn-primary btn-download-file"
                                                    data-target-element=".encoded-text-container"
                                                    data-download-filename="base64-encoded"><i
                                                    class="fas fa-download"></i></button>
                                            <button class="btn btn-sm btn-secondary" type="button"
                                                    data-toggle="collapse"
                                                    data-target="#dataCollapse" aria-expanded="false"
                                                    aria-controls="dataCollapse">Toggle result
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="collapse show" id="dataCollapse">
                                    <p class="card-text encoded-text-container" th:text="${datadecoded}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-xl-3">
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
</body>
</html>