<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Decode URL ONLINE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="encode html online, escape html online">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container-fluid main-section">
        <div class="row"></div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-ls-3 col-xl-3"></div>
            <div class="col-xs-12 col-lg-6 col-md-8">
                <div class="text-center">
                    <h2>Encode HTML online.</h2>
                </div>
                <div>
                    <form action="/mime-tools/html-encode-online.html" method="post">
                        <div class="form-group">
                            <label for="data">Value to encode</label>
                            <textarea class="form-control" name="data" id="data" rows="5" autofocus th:text="${data}"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Encode</button>
                        </div>
                    </form>
                    <form th:if="${EscapedHTML != null}" class="mt-3 mt-md-3">
                        <div class="form-group">
                            <label for="data">Encode value</label>
                            <textarea class="form-control" name="data" id="decodedData" rows="5" th:text="${EscapedHTML}"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-xl-3">
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
</body>
</html>