<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>encode URI online - Online Utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="url encode, encode url online, mime tools, application/x-www-form-urlencoded online">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container-fluid main-section">
        <div class="row"></div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-ls-3 col-xl-3"></div>
            <div class="col-xs-12 col-lg-6 col-md-8">
                <div class="text-center">
                    <h2>Encode URL online.</h2>
                </div>
                <div>
                    <form action="/mime-tools/url-encoder.html" method="post">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id="urlComponentEncode" value="checkedValue">
                                Encode for Reserved Characters(<code>;,/?:@&=+$#</code>) and Unreserved Marks(<code>-_.!~*'()</code>)
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="data">Value to encode</label>
                            <textarea class="form-control" name="data" id="data" rows="5" autofocus></textarea>
                            <small>Type new value then tab out or click outside to start encoding.</small>
                        </div>
                        <div class="form-group">
                            <label for="data">Encoded value</label>
                            <textarea class="form-control" name="data" id="encodedData" rows="5"></textarea>
                        </div>
                    </form>
                </div>
            	<div class="pt-md-5 blog-post">            		
            		<h1>What is URL Encoding</h1>
            		<p>Some characters cannot be part of a URL (for example, the space) and some other characters have
					  a special meaning in a URL. In HTML forms, the character <code translate="no" dir="ltr">=</code> is used to separate
					  a name from a value. The URI generic syntax uses URL encoding to deal with this problem,
					  while HTML forms make some additional substitutions rather than applying percent encoding
					  for all such characters.
					</p>
					<p>For example, spaces in a string are either encoded with <code translate="no" dir="ltr">%20</code> or replaced
					  with the plus sign (<code translate="no" dir="ltr">+</code>). If you use a pipe character (<code translate="no" dir="ltr">|</code>) as a separator,
					  be sure to encode the pipe as <code translate="no" dir="ltr">%7C</code>. A comma in a string should be
					  encoded as <code translate="no" dir="ltr">%2C</code>.
					</p>
					<p>It is recommended you use your platform's normal URL building libraries to automatically
						encode your URLs, to ensure the URLs are properly escaped for your platform.</p>
					<p>Additionally, URLs are limited to 2048 characters for each request. Be aware of this limit when constructing your URLs.</p>
					<h2>Building a Valid URL</h2>
					<p>You may think that a "valid" URL is self-evident, but
					that's not quite the case. A URL entered within an address bar in a
					browser, for example, may contain special characters (e.g.
					<code translate="no" dir="ltr">"上海+中國"</code>); the browser needs to internally translate
					those characters into a different encoding before transmission.
					By the same token, any code that generates or accepts UTF-8 input
					might treat URLs with UTF-8 characters as "valid", but would also need
					to translate those characters before sending them out to a web server.
					This process is called <a href="https://en.wikipedia.org/wiki/Query_string#URL_encoding">
					URL-encoding</a> or <a href="https://en.wikipedia.org/wiki/Percent-encoding">percent-encoding</a>.
					</p>
					<h3 id="special-characters" data-text="Special characters" tabindex="0">Special characters</h3>
					<p>We need to translate special characters because
					all URLs need to conform to the syntax specified by the
					<a href="http://tools.ietf.org/html/rfc3986">W3 Uniform
					Resource Identifier</a> specification. In effect, this means that URLs
					must contain only a special subset of ASCII characters: the familiar
					alphanumeric symbols, and some reserved characters for use as control
					characters within URLs. The table below summarizes these characters:</p>
					<table class="table">
						<tbody>
							<tr>
								<th>Set</th>
								<th>characters</th>
								<th>URL usage</th>
							</tr>
							<tr>
								<td>Alphanumeric</td>
								<td>a b c d e f g h i j k l m n o p q r s t u v w x y z A
									B C D E F G H I J K L M N O P Q R S T U V W X Y Z 0 1 2 3 4 5
									6 7 8 9</td>
								<td>Text strings, scheme usage (<code translate="no"
										dir="ltr">http</code>), port (<code translate="no" dir="ltr">8080</code>),
									etc.
								</td>
							</tr>
							<tr>
								<td>Unreserved</td>
								<td>- _ . ~</td>
								<td>Text strings</td>
							</tr>
							<tr>
								<td>Reserved</td>
								<td>! * ' ( ) ; : @ &amp; = + $ , / ? % # [ ]</td>
								<td>Control characters and/or Text Strings</td>
							</tr>
						</tbody>
					</table>
					<p>When building a valid URL, you must ensure that it contains
					only those characters shown above. Conforming a URL to use this
					set of characters generally leads to two issues, one of omission
					and one of substitution:</p>
					<ul>
					  <li>Characters that you wish to handle exist outside of the
					  above set.<br> For example, characters in foreign languages
					  such as <code translate="no" dir="ltr">上海+中國</code> need to be encoded using the
					  above characters. By popular convention, spaces (which are
					  not allowed within URLs) are often represented using the plus
					  <code translate="no" dir="ltr">'+'</code> character as well.</li>
					  <br>
					  <li>Characters exist within the above set as reserved characters,
					  but need to be used literally.<br>For example, <code translate="no" dir="ltr">?</code> is used within URLs to indicate
					  the beginning of the query string; if you wish to use the
					  string "? and the Mysterions," you'd need to encode the
					  <code translate="no" dir="ltr">'?'</code> character.</li>
					</ul>					
					<p>All characters to be URL-encoded are encoded
					using a <code translate="no" dir="ltr">'%'</code> character and a two-character hex
					value corresponding to their UTF-8 character.<br>For example,
					<code translate="no" dir="ltr">上海+中國</code> in UTF-8 would be URL-encoded as
					<code translate="no" dir="ltr">%E4%B8%8A%E6%B5%B7%2B%E4%B8%AD%E5%9C%8B</code>.
					<br>The string <code translate="no" dir="ltr">? and the Mysterians</code> would be URL-encoded as
					<code translate="no" dir="ltr">%3F+and+the+Mysterians</code>.</p>
					</div>
					<h3 id="common-characters-that-need-encoding" data-text="Common characters that need encoding" tabindex="0">Common characters that need encoding</h3>
					<p>Some common characters that must be encoded are:</p>
					<table class="table" id="unsafe">
						<tbody>
							<tr>
								<th>Unsafe character</th>
								<th>Encoded value</th>
							</tr>
							<tr>
								<td>Space</td>
								<td><code translate="no" dir="ltr">%20</code></td>
							</tr>
							<tr>
								<td>"</td>
								<td><code translate="no" dir="ltr">%22</code></td>
							</tr>
							<tr>
								<td>&lt;</td>
								<td><code translate="no" dir="ltr">%3C</code></td>
							</tr>
							<tr>
								<td>&gt;</td>
								<td><code translate="no" dir="ltr">%3E</code></td>
							</tr>
							<tr>
								<td>#</td>
								<td><code translate="no" dir="ltr">%23</code></td>
							</tr>
							<tr>
								<td>%</td>
								<td><code translate="no" dir="ltr">%25</code></td>
							</tr>
							<tr>
								<td>|</td>
								<td><code translate="no" dir="ltr">%7C</code></td>
							</tr>
						</tbody>
					</table>
					<p>Converting a URL that you receive from user input is sometimes
					tricky. For example, a user may enter an address as "5th&amp;Main St."
					Generally, you should construct your URL from its parts, treating
					any user input as literal characters.</p>
					<hr>
					<div>The description is distributed from: <a href="https://developers.google.com/maps/documentation/urls/url-encoding">Google Developers</a></div>
					<p class="mb-5 mb-md-5">
				</div>
            <div class="col-xs-12 col-md-3 col-xl-3">
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
<script>
    $('#data').on('change blur', function () {
        if ($('#urlComponentEncode').prop("checked") === true){
            $("#encodedData").val("")
            $("#encodedData").val(encodeURIComponent($(this).val()));
        }else {
            $("#encodedData").val("")
            $("#encodedData").val(encodeURI($(this).val()));
        }
    })
</script>
</body>
</html>