<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Decode URL ONLINE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="url decode, decode url online, mime tools, decode application/x-www-form-urlencoded online">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container-fluid main-section bg-light">
        <div class="row"></div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-ls-3 col-xl-3"></div>
            <div class="col-xs-12 col-lg-6 col-md-8">
                <div class="text-center">
                    <h2>Encode URL online.</h2>
                </div>
                <div>
                    <form action="/mime-tools/url-encoder.html" method="post">
                        <div class="form-group">
                            <label for="data">Value to decode</label>
                            <textarea class="form-control" name="data" id="data" rows="5" autofocus></textarea>
                            <small>Type new value then tab out or click outside to start encoding.</small>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id="urlComponentEncode" value="checkedValue">
                                Decode for Reserved Characters(<code>;,/?:@&=+$#</code>) and Unreserved Marks(<code>-_.!~*'()</code>)
                            </label>
                        </div>
                    </form>
                    <form class="mt-3 mt-md-3">
                        <div class="form-group">
                            <label for="data">Decoded value</label>
                            <textarea class="form-control" name="data" id="decodedData" rows="5"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-xl-3">
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
<script>
    $('#data').on('change blur', function () {
        if ($('#urlComponentEncode').prop("checked") === true){
            $("#decodedData").val("")
            $("#decodedData").val(decodeURIComponent($(this).val()));
        }else {
            $("#decodedData").val("")
            $("#decodedData").val(decodeURI($(this).val()));
        }
    })
</script>
</body>
</html>