<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Online JSON format - Online utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="format json online, json tree view, json online editor">
    <template th:replace="head::common-head"/>
    
    <link th:href="@{/jsoneditor/jsoneditor.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div th:replace="header::header"></div>
<section>
    <div class="container-fluid main-section bg-light">
        <div class="row"></div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-ls-3 col-xl-3"></div>
            <div class="col-xs-12 col-lg-6 col-md-8">
                <div class="text-center">
                    <h2>Format Json to beautify online.</h2>
                </div>
                <div id="jsoneditor" style="height: 500px;"></div>
                <hr>
                <div class="blog-post">
                    <h3>About JSONFormatter</h3>
                    <hr>
                    <p>JSONFormatter.io is the #1 online tool to format, parse, view, validate, edit, and beautify JSON data in real time. The powerful, feature rich, and user friendly JSON editor gives you a native editing experience.
                    <br/>To format JSON, type or paste your JSON data in the first editor and click on the format/validate button to validate and format the entered JSON. You can view the parsed and beautified JSON in the second editor.
                    </p>
                    <h3>JSON beautify/prettify online</h3>
                    <hr>
                    <p>You can use the tool as a simple JSON prettifier/beautifier. The tool prettifies your JSON with proper indentation and outputs the prettified data in the right hand side editor. You can click copy on the right side editor to copy the beautified JSON.</p>
                    <pre>
                    </pre>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-xl-3">
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
<script th:src="@{/jsoneditor/jsoneditor.js}"></script>
<script>
	$(document).ready(function() {
		const container1 = document.getElementById('jsoneditor');
		const options = {
		  modes: ['text', 'code', 'tree', 'form', 'view'],
		  mode: 'text',
		  ace: ace
		}
		const editor = new JSONEditor(container1, options);
	});
</script>
</body>
</html>