<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BASE64 ENCODE ONLINE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="base64 encode, encode base64 online, encode text to base64, mime tools">
    <template th:replace="head::common-head"/>
    
    <link href="/jsoneditor/jsoneditor.css" rel="stylesheet" type="text/css">
    <script src="/jsoneditor/jsoneditor.js"></script>
</head>

<body>

<div th:replace="header::header"></div>
<section>
    <div class="container-fluid main-section bg-light">
        <div class="row"></div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-ls-3 col-xl-3"></div>
            <div class="col-xs-12 col-lg-6 col-md-8">
                <div class="text-center">
                    <h2>Format Json to beautify online.</h2>
                </div>
                <div>
                    <div class="alert alert-danger" role="alert" th:if="${errors != null && !errors.isEmpty()}">
                        <ul th:each="error : ${errors}">
                            <li th:text="${error}"></li>
                        </ul>
                    </div>
                    
                   <!--  <form action="/format/format-json-beautify.html" method="post" th:object="${jsonObject}">
                        <div class="form-group">
                            <label for="data">Json to beautify</label>
                            <textarea class="form-control" name="jsonData" id="jsonData" rows="5" th:field="*{jsonData}"></textarea>
                            <small>By default, the web-browser does not allow pasting too large of text. Be noticed when pasting value to the this field.</small>
                        </div>
                        <div class="form-group">
                            <label for="outputType">Output</label>
                            <textarea class="form-control" name="result" id="result" rows="5" th:field="*{result}">
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Format now</button>
                    </form> -->
                </div>
                <!-- <div class="card bg-light mt-5 mt-md-5" th:if="${ dataencoded != null && !dataencoded.isEmpty()}">
                    <h5 class="card-header">Encoded value</h5>
                    <div class="card-body">
                        <p class="card-text encoded-text-container" th:text="${dataencoded}"></p>
                        <button class="btn btn-sm btn-primary btn-clipboard-copy" data-clipboard-target=".encoded-text-container">Copy to clipboard</button>
                        <button class="btn btn-sm btn-primary btn-download-file" data-target-element=".encoded-text-container" data-download-filename="base64-encoded">Download as file</button>
                    </div>
                </div> -->
                
                <div id="jsoneditor1" style="width: 800px; height: 900px;"></div>
                <hr>
                <div class="blog-post">
                    <h3>About JSONFormatter</h3>
                    <hr>
                    <p>JSONFormatter.io is the #1 online tool to format, parse, view, validate, edit, and beautify JSON data in real time. The powerful, feature rich, and user friendly JSON editor gives you a native editing experience.
                    <br/>To format JSON, type or paste your JSON data in the first editor and click on the format/validate button to validate and format the entered JSON. You can view the parsed and beautified JSON in the second editor.
                    </p>
                    <h3>JSON beautify/prettify online</h3>
                    <hr>
                    <p>You can use the tool as a simple JSON prettifier/beautifier. The tool prettifies your JSON with proper indentation and outputs the prettified data in the right hand side editor. You can click copy on the right side editor to copy the beautified JSON.</p>
                    <pre>
                    </pre>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-xl-3">
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
<script>
	$(document).ready(function() {
		const container1 = document.getElementById('jsoneditor1');
		const options = {
		  modes: ['text', 'code', 'tree', 'form', 'view'],
		  mode: 'text',
		  ace: ace
		}
		const editor = new JSONEditor(container1, options);
	});
</script>
</body>
</html>