<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cryptographic tools</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="cryptographic tools online, cryptographic decrypt tools, cryptographic encrypt tools">
    <meta name="description"
          content="Convenience cryptographic tools used to decrypt or encrypt. Support for DES, 3DES, AES, RSA, Blowfish">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>
<section class="pt-5 mt-md-5 pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col col-md-12 text-center">
                <h3>All cryptographic tools served by Onlineutilities.net</h3>
            </div>
        </div>
        <div class="row border-warning border-bottom">
            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>Cryptographic secret-key generator</h5>
                    <p>
                        Generate your secret key, support for DES, 3DES, AES, Blowfish and more
                    </p>
                    <a th:href="@{/cryptographic-tools/secretkey-generator.html}" class="btn btn-primary">Generate now</a>
                </div>
            </div>
        </div>
        <!--   DES     -->
        <div class="row border-warning border-bottom">
            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>DES text encryptor</h5>
                    <p>Encrypt your text-based data with DES algorithms by provided secret key.</p>
                    <a th:href="@{/cryptographic-tools/des-text-encryptor.html}" class="btn btn-primary">Encrypt now</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>DES file encryptor</h5>
                    <p>Encrypt your files with DES algorithms by provided secret key.</p>
                    <a th:href="@{/cryptographic-tools/des-file-encryptor.html}" class="btn btn-primary">Encrypt now</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>DES text decryptor</h5>
                    <p>Decrypt your text-based data with DES algorithms by provided secret key.</p>
                    <a th:href="@{/cryptographic-tools/des-text-encryptor.html}" class="btn btn-primary">Encrypt now</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>DES file decryptor</h5>
                    <p>Decrypt your text-based data with DES algorithms by provided secret key.</p>
                    <a th:href="@{/cryptographic-tools/des-text-encryptor.html}" class="btn btn-primary">Encrypt now</a>
                </div>
            </div>
        </div>
        <!--   Triple DES     -->
        <div class="row border-warning border-bottom">
            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>3DES text encryptor</h5>
                    <p>Encrypt text-based data with Triple DES algorithm. You have to provide your own secret to complete encryption.</p>
                    <a th:href="@{/cryptographic-tools/des-text-encryptor.html}" class="btn btn-primary">Encrypt now</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>3DES file encryptor</h5>
                    <p>Encrypt file with Triple DES algorithm by provided secret-key.</p>
                    <a th:href="@{/cryptographic-tools/des-text-encryptor.html}" class="btn btn-primary">Encrypt now</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>3DES text-based decryptor</h5>
                    <p>Decrypt text to origin text data with Triple DES algorithm by provided secret-key. <b>Support for Base64, Hex decode before decryption.</b></p>
                    <a th:href="@{/cryptographic-tools/des-text-encryptor.html}" class="btn btn-primary">Decrypt now</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>3DES file decryptor</h5>
                    <p>Decrypt file to origin text data with Triple DES algorithm by provided secret-key. <b>Support for Base64, Hex decode before decryption.</b></p>
                    <a th:href="@{/cryptographic-tools/des-file-encryptor.html}" class="btn btn-primary">Decrypt now</a>
                </div>
            </div>
        </div>

        <!--   Blowfish     -->
        <div class="row">
            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>Cryptographic secret-key generator</h5>
                    <p>
                        Generate your secret key, support for DES, 3DES, AES, Blowfish and more
                    </p>
                    <a th:href="@{/cryptographic-tools/des-text-encryptor.html}" class="btn btn-primary">Encrypt now</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 p-5">
                <div>
                    <h5>Cryptographic secret-key generator</h5>
                    <p>
                        Generate your secret key, support for DES, 3DES, AES, Blowfish and more
                    </p>
                    <a th:href="@{/cryptographic-tools/des-text-encryptor.html}" class="btn btn-primary">Encrypt now</a>
                </div>
            </div>

        </div>
    </div>
</section>
<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>