<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Encrypt DES online - Online utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="encrypt des, des decrypt online tool, online">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section class="pb-5">
    <div class="container-fluid main-section">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <div class="row d-flex">
                    <div class="col-md-6 flex-column border-right">
                        <div class="container m-0">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="text-decode" data-toggle="tab" href="#textEncode"
                                       role="tab" aria-controls="text-decode" aria-selected="true">Text encryption</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="file-decode" data-toggle="tab" href="#fileEncode"
                                       role="tab" aria-controls="file-decode" aria-selected="false">File encryption</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="textEncode" role="tabpanel" aria-labelledby="text-decode"
                                     class="tab-pane fade show active">
                                    <div class="mt-3">
                                        <form th:action="@{/cryptographic-tools/des-encryptor.html}" method="post"
                                              enctype="multipart/form-data">
                                            <div class="form-group files-drag-drop  color-warning">
                                                <label>Upload Your File </label>
                                                <input type="file" class="form-control" name="keyfile">
                                            </div>

                                            <div class="form-group">
                                                <label for="originData">Text data to encrypt</label>
                                                <textarea class="form-control" id="originData" rows="3" name="data" minlength="1"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="outputType">Get result by</label>
                                                <select class="form-control" name="output" id="outputType">
                                                    <option th:each="option : ${T(net.onlineutilities.enums.EncryptConstants.Output).values()}" th:text="${option.display}" th:value="${option.id}">Text</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary pull-left">Decrypt now</button>
                                        </form>
                                    </div>
                                </div>
                                <div id="fileEncode" class="tab-pane fade">
                                    <div class="mt-3">
                                        <form th:action="@{/cryptographic-tools/des-encryptor.html}" method="post"
                                              enctype="multipart/form-data">
                                            <div class="form-group files-drag-drop color-warning">
                                                <label>Upload Your File </label>
                                                <input type="file" class="form-control" name="keyfile">
                                            </div>
                                            <div class="form-group files-drag-drop">
                                                <label>Upload Your File </label>
                                                <input type="file" class="form-control" name="file">
                                            </div>
                                            <div class="form-group">
                                                <label for="outputType">Get result by</label>
                                                <select class="form-control" name="output" id="outputType">
                                                    <option th:each="option : ${T(net.onlineutilities.enums.EncryptConstants.Output).values()}" th:text="${option.display}" th:value="${option.id}">Text</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Encrypt now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 flex-column">
                        <div class="container">
                            <div class="row d-flex flex-row">
                                <div class="justify-md-content-start ">
                                    <h3>encrypted result</h3>
                                </div>
                                <div class="justify-md-content-end">
                                    <button class="btn btn-sm btn-primary btn-clipboard-copy m-1" data-clipboard-target=".encoded-text-container">
                                        <i class="fas fa-copy" aria-hidden="true"></i>
                                    </button>
                                    <button class="btn btn-sm btn-primary btn-download-file m-1" data-target-element=".encoded-text-container" data-download-filename="base64-encoded">
                                        <i class="fas fa-download" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row card">
                                <div class="card-body card-block encoded-text-container"  th:text="${encryptedData}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-5"></div>
                <div class="row">
                    <div class="col-md-6 p-3 blog-post">
                        <h3>About DES Encryptor</h3>
                        <hr>
                        <p>DES stands for <b>Data Encryption Standard</b>. It's is a symmetric-key algorithm for the
                            encryption of digital data. Although its short key length of 56 bits makes it too insecure
                            for applications, it has been highly influential in the advancement of cryptography.</p>
                        <p>OnlineUtilities DES Encryptor is an online tool that aims to help people encrypt data which
                            encrypted by DES algorithm.</p>
                        <p>Our DES encryptor support for:</p>
                        <ul>
                            <li>Text-based encryption</li>
                            <li>File encryption</li>
                        </ul>
                        <br>
                        <h3>DES Encryptor use instruction</h3>
                        <div>
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/zHwTprCJHQw"
                                    frameborder="0"
                                    allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 p-3 blog-post">
                        <h3>Related tools</h3>
                        <hr>
                        <ul>
                            <li><a th:href="@{/cryptographic-tools/secretkey-generator.html}">Cryptographic key generator</a></li>
                            <li><a th:href="@{/cryptographic-tools/des-decryptor.html}">DES decryptor online</a></li>
                            <li><a th:href="@{/cryptographic-tools/des-encryptor.html}">3DES decrypt online</a></li>
                            <li><a th:href="@{/cryptographic-tools/des-encryptor.html}">3DES encrypt online</a></li>
                            <li><a th:href="@{/cryptographic-tools/des-encryptor.html}">AES decrypt online</a></li>
                            <li><a th:href="@{/cryptographic-tools/des-encryptor.html}">AES encrypt online</a></li>
                            <li><a th:href="@{/cryptographic-tools/des-encryptor.html}">Blowfish decrypt online</a></li>
                            <li><a th:href="@{/cryptographic-tools/des-encryptor.html}">Blowfish encrypt online</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>