<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DES file decrypt online - Online utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="desede encrypt, triple encrypt, online">
    <meta name="description" content="Triple Encryption online tool">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container-fluid main-section bg-light">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-xs-12 col-lg-6 col-md-6">
                <div class="container text-center">
                    <h5>Decrypt data with Triple DES decryption</h5>
                </div>
                <div class="data-input-section">
                    <form action="/cryptographic-tools/des-file-decryptor.html" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" class="form-control-file" name="keyfile" aria-describedby="fileHelpId">
                            <small id="fileHelpId" class="form-text text-muted">Choose your key file</small>
                        </div>

                        <div class="form-group">
                            <label for="decodetype">Decode type</label>
                            <select class="form-control" name="decodetype" id="decodetype">
                                <option value="0"></option>
                                <option value="1">Base64 decoding</option>
                                <option value="2">HEX decoding</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="file">Choose file to decrypt</label>
                            <input type="file" class="form-control-file" name="file" id="file" placeholder="" aria-describedby="fileHelpId">
                        </div>

                        <div class="form-group">
                            <label for="outputTyp">Output type</label>
                            <select class="form-control" name="output" id="outputTyp">
                                <option value="1">Downloadable file</option>
                                <option value="2">Display text</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary pull-left">Decrypt now</button>
                    </form>
                </div>
                <div class="navPadding" th:if="${decryptedData != null && !decryptedData.isEmpty()}">
                    <label>Encrypt data are represent in text-based.</label>
                    <div class="form-group">
                        <div style="word-wrap: break-word" class="bg-secondary text-white" th:text="${decryptedData}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>
</html>