<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DES, 3DES, AES, RSA, Blowfish secret-key generate online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="des, 3des, tripledes, aes, blowfish, key generate online, symmetric key generate online">
    <meta name="description" content="Help to generate des, 3des, tripledes, aes, blowfish, key online, symmetric key generate online">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container main-section">
        <div class="row mx-md-n5">
            <div class="col-md-3 px-md-5">
                <div class="card tool-component" style="width: 18rem;" title="DES key generate online">
                    <div class="card-body">
                        <h5 class="mt-0">DES key generation</h5>
                        <p>Generate DES secret key with default keysize is 56 bits</p>
                        <a th:href="@{/cryptographic-tools/des-key-generation.html}"
                           class="btn btn-primary stretched-link">Generate immediately</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 px-md-5">
                <div class="card tool-component" style="width: 18rem;" title="3DES key generate online">
                    <div class="card-body">
                        <h5 class="mt-0">3DES key generation</h5>
                        <p>Generate 3DES secret key with default keysize is 168 bits</p>
                        <a th:href="@{/cryptographic-tools/3DES-key-generation.html}"
                           class="btn btn-primary stretched-link">Generate immediately</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 px-md-5">
                <div class="card tool-component" style="width: 18rem;" title="DES key generate online">
                    <div class="card-body">
                        <h5 class="mt-0">AES key generation</h5>
                        <p>Generate AES secret key with default keysize is 128 bits</p>
                        <a th:href="@{/cryptographic-tools/AES-key-generation.html}"
                           class="btn btn-primary stretched-link">Generate immediately</a>
                    </div>
                </div>

            </div>
            <div class="col-md-3 px-md-5">
                <div class="card tool-component" style="width: 18rem;" title="DES key generate online">
                    <div class="card-body">
                        <h5 class="mt-0">Blowfish key generation</h5>
                        <p>Generate DES secret key with default keysize is 128 bits</p>
                        <a th:href="@{/cryptographic-tools/blowfish-key-generation.html}"
                           class="btn btn-primary stretched-link">Generate immediately</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>