<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Triple DES Encryption online - Online utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="desede encrypt, triple encrypt, online">
    <meta name="description" content="Triple Encryption online tool">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container-fluid main-section bg-light">

        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>More related tools</span></h6>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/tripledes/key-generator.html">
                                    <i class="fas fa-key"></i>
                                    <span>Triple DES keyfile generator</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tripledes-decryptor.html">
                                    <i class="fas fa-file-signature"></i>
                                    <span>Triple DES Decryptor</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-xs-12 col-lg-8 col-md-8">
                <div class="container text-center">
                    <h5>Encrypt data use triple DES encryption</h5>
                </div>
                <div class="data-input-section">
                    <form action="/tripledes/encrypt" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" class="form-control-file" name="file" aria-describedby="fileHelpId">
                            <small id="fileHelpId" class="form-text text-muted">Choose your key file</small>
                        </div>
                        <div class="form-group">
                            <label for="outputType">Output type</label>
                            <select class="form-control" name="output" id="outputType">
                                <option value="0">Downloadable file</option>
                                <option value="1">Base64 encoded</option>
                                <option value="2">HEX encoded</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Text data to encrypt</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="data"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary pull-left">Encrypt now</button>
                    </form>
                </div>
                <div class="navPadding" th:if="${encryptedData != null && !encryptedData.isEmpty()}">
                    <label for="exampleFormControlTextarea1">Encrypt data are represent in Base64 encoded</label>
                    <div class="form-group">
                        <textarea class="form-control" th:text="${encryptedData}"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>