<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Triple DES Encryption online - Online utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="desede encrypt, triple encrypt, online">
    <meta name="description" content="Triple Encryption online tool">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container-fluid main-section bg-light">

        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>More related tools</span></h6>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/tripledes-key-generator.html">
                                    <i class="fas fa-key"></i>
                                    <span>Triple DES keyfile generator</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tripledes-text-decryptor.html">
                                    <i class="fas fa-file-signature"></i>
                                    <span>Triple DES text encryptor</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/tripledes-file-encryptor.html">
                                    <i class="fas fa-file-signature"></i>
                                    <span>Triple DES file encryptor</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/tripledes-text-decryptor.html">
                                    <i class="fas fa-file-signature"></i>
                                    <span>Triple DES text decryptor</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-xs-12 col-lg-6 col-md-6">
                <div class="container text-center">
                    <h5>Decrypt data with Triple DES decryption</h5>
                </div>
                <div class="data-input-section">
                    <form action="/tripledes-file-decryptor.html" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" class="form-control-file" name="keyfile" aria-describedby="fileHelpId">
                            <small id="fileHelpId" class="form-text text-muted">Choose your key file</small>
                        </div>

                        <div class="form-group">
                            <label for="decodetype">Decode type</label>
                            <select class="form-control" name="decodetype" id="decodetype">
                                <option value="0"></option>
                                <option value="1">Base64 decoding</option>
                                <option value="2">HEX decoding</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="file">Choose file to decrypt</label>
                            <input type="file" class="form-control-file" name="file" id="file" placeholder="" aria-describedby="fileHelpId">
                        </div>

                        <div class="form-group">
                            <label for="outputTyp">Output type</label>
                            <select class="form-control" name="output" id="outputTyp">
                                <option value="1">Downloadable file</option>
                                <option value="2">Display text</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary pull-left">Decrypt now</button>
                    </form>
                </div>
                <div class="navPadding" th:if="${decryptedData != null && !decryptedData.isEmpty()}">
                    <label>Encrypt data are represent in text-based.</label>
                    <div class="form-group">
                        <div style="word-wrap: break-word" class="bg-secondary text-white" th:text="${decryptedData}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>
</html>