<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Online utilities - cryptographic hashing tools</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="An online platform that serves free online utilities and tools to increase working effectiveness.">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>
<section class="padding-top-15 pb-md-5">
    <div class="container">
        <div class="row pt-3">

            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">MD2 hashing</h5>
                        <p class="card-text">Hash plaintext with MD2 algorithm</p>
                        <a th:href="@{/message-digest-tools/md2.html}" class="btn btn-sm btn-outline-primary">MD2 hash now</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">MD5 hashing</h5>
                        <p class="card-text">Hash plaintext with MD5 algorithm</p>
                        <a th:href="@{/message-digest-tools/md5.html}" class="btn btn-sm btn-outline-primary">MD5 hash now</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA-1 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA-1 algorithm</p>
                        <a th:href="@{/message-digest-tools/sha-1.html}" class="btn btn-sm btn-outline-primary">Do SHA-1 hash now</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA-224 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA-224 algorithm</p>
                        <a th:href="@{/message-digest-tools/sha-224.html}" class="btn btn-sm btn-outline-primary">Do SHA-224 hash now</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA-256 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA-256 algorithm</p>
                        <a th:href="@{/message-digest-tools/sha-256.html}" class="btn btn-sm btn-outline-primary">Do SHA-256 hash now</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA-384 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA-384 algorithm</p>
                        <a th:href="@{/message-digest-tools/sha-384.html}" class="btn btn-sm btn-outline-primary">Do SHA-384 hash now</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA-512 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA-512 algorithm</p>
                        <a th:href="@{/message-digest-tools/sha-512.html}" class="btn btn-sm btn-outline-primary">Do SHA-512 hash now</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA-512-224 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA-512-224 algorithm</p>
                        <a th:href="@{/message-digest-tools/sha-512-224.html}" class="btn btn-sm btn-outline-primary">Do SHA-512-224 hash now</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA-512-256 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA-512-256 algorithm</p>
                        <a th:href="@{/message-digest-tools/sha-512-256.html}" class="btn btn-sm btn-outline-primary">Do SHA-512-256 hash now</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA3-224 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA3-224 algorithm</p>
                        <a th:href="@{/message-digest-tools/SHA3-224.html}" class="btn btn-sm btn-outline-primary">Do SHA3-224 hash now</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA3-256 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA3-256 algorithm</p>
                        <a th:href="@{/message-digest-tools/SHA3-256.html}" class="btn btn-sm btn-outline-primary">Do SHA3-256 hash now</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA3-384 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA3-384 algorithm</p>
                        <a th:href="@{/message-digest-tools/SHA3-384.html}" class="btn btn-sm btn-outline-primary">Do SHA3-384 hash now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">SHA3-512 hashing</h5>
                        <p class="card-text">Hash plaintext with SHA3-512 algorithm</p>
                        <a th:href="@{/message-digest-tools/SHA3-512.html}" class="btn btn-sm btn-outline-primary">Do SHA3-512 hash now</a>
                    </div>
                </div>
            </div>

        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">Bcrypt hashing</h5>
                        <p class="card-text">Hash plaintext with Bcrypt algorithm</p>
                        <a th:href="@{/message-digest-tools/bcrypt-hash-generation.html}" class="btn btn-sm btn-outline-primary">Do BCrypt hash now</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row pt-3">
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <div class="card-body no-overflow">
                        <h5 class="card-title">File checksum</h5>
                        <p class="card-text">Compute file checksum with CRC-32, MD5, SHA-1, SHA-256</p>
                        <a th:href="@{/cryptographic-checksums/file-checksum-generator.html}" class="btn btn-sm btn-outline-primary">Generate checksum now</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</section>
<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>