<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MD2 generator online - online utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="hash md5 online, md5 generator, md5 hashing, one-way encryption">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container-fluid main-section">
        <div class="row"></div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-ls-3 col-xl-3"></div>
            <div class="col-xs-12 col-lg-6 col-md-8">
                <div class="text-center">
                    <h2>MD2 hash online generator</h2>
                </div>
                <div>
                    <form th:action="@{/message-digest-tools/md2-hash.html}" method="post">
                        <div class="form-group">
                            <label for="data">Value to encode</label>
                            <textarea class="form-control" name="data" id="data" rows="5" autofocus></textarea>
                            <small>Type new value then tab out or click outside to start encoding.</small>
                        </div>
                        <div class="form-group">
                            <label for="encodedData">Encoded value</label>
                            <textarea class="form-control" id="encodedData" rows="5" th:text="${output}"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Hash now</button>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-xl-3">
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
</body>
</html>