<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SHA384 online generator - online utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="hash sha384 online, sha384 generator, sha384 hashing, one-way encryption">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>

<section>
    <div class="container-fluid main-section">
        <div class="row"></div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-ls-3 col-xl-3"></div>
            <div class="col-xs-12 col-lg-6 col-md-8">
                <div class="text-center">
                    <h2>SHA384 hash online generator</h2>
                </div>
                <div>
                    <form th:action="@{/message-digest-tools/sha384-hash-generator.html}" method="post">
                        <div class="form-group">
                            <label for="data">What you want to hash?</label>
                            <textarea class="form-control" name="data" id="data" rows="5" autofocus></textarea>
                        </div>
                        <div class="form-group">
                            <label for="result">Result</label>
                            <textarea class="form-control" id="result" rows="5" th:text="${output}"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Hash now</button>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-md-3 col-xl-3">
            </div>
        </div>
    </div>
</section>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
</body>
</html>