<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="about-des">
        <h3>About DES - Data Encryption Standard</h3>
        <hr>
        <p>DES stands for <b>Data Encryption Standard</b>. It's is a symmetric-key algorithm for the
            encryption of digital data. Although its short key length of 56 bits makes it too insecure
            for applications, it has been highly influential in the advancement of cryptography.</p>
        <p>OnlineUtilities DES decryptor is an online tool that aims to help people decrypt data which
            encrypted by DES algorithm.</p>
        <p>Our DES decryptor support for:</p>
        <ul>
            <li>Text-based decryption</li>
            <li>File decryption</li>
        </ul>
    </div>

    <div th:fragment="about-3des" th:remove="tag">
        <h3>About Triple DES - Triple Data Encryption Algorithm</h3>
        <hr>
        <p>DES stands for <b>Data Encryption Standard</b>. It's is a symmetric-key algorithm for the
            encryption of digital data. Although its short key length of 56 bits makes it too insecure
            for applications, it has been highly influential in the advancement of cryptography.</p>
        <p>OnlineUtilities DES decryptor is an online tool that aims to help people decrypt data which
            encrypted by DES algorithm.</p>
        <p>Our DES decryptor support for:</p>
        <ul>
            <li>Text-based decryption</li>
            <li>File decryption</li>
        </ul>
    </div>

    <div th:fragment="about-aes" th:remove="tag">
        <h3>About Triple DES - Triple Data Encryption Algorithm</h3>
        <hr>
        <p>DES stands for <b>Data Encryption Standard</b>. It's is a symmetric-key algorithm for the
            encryption of digital data. Although its short key length of 56 bits makes it too insecure
            for applications, it has been highly influential in the advancement of cryptography.</p>
        <p>OnlineUtilities DES decryptor is an online tool that aims to help people decrypt data which
            encrypted by DES algorithm.</p>
        <p>Our DES decryptor support for:</p>
        <ul>
            <li>Text-based decryption</li>
            <li>File decryption</li>
        </ul>
    </div>

    <div th:fragment="about-blowfish" th:remove="tag">
        <h3>About Blowfish algorithm</h3>
        <hr>
        <p>DES stands for <b>Data Encryption Standard</b>. It's is a symmetric-key algorithm for the
            encryption of digital data. Although its short key length of 56 bits makes it too insecure
            for applications, it has been highly influential in the advancement of cryptography.</p>
        <p>OnlineUtilities DES decryptor is an online tool that aims to help people decrypt data which
            encrypted by DES algorithm.</p>
        <p>Our DES decryptor support for:</p>
        <ul>
            <li>Text-based decryption</li>
            <li>File decryption</li>
        </ul>
    </div>

</body>
</html>