<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="crypto-related-tools" class="col-md-6 p-3 blog-post">
    <h3>Related tools</h3>
    <hr>
    <ul>
        <li><a th:href="@{/cryptographic-tools/symmetric-key-generation.html}">Symmetric key generator</a></li>
        <li><a th:href="@{/cryptographic-tools/des-text-encryption.html}">DES text encryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/des-file-encryption.html}">DES file encryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/3des-text-encryption.html}">3DES text encryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/3des-file-encryption.html}">3DES file encryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/aes-text-encryption.html}">AES text encryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/aes-file-encryption.html}">AES file encryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/blowfish-text-encryption.html}">Blowfish text encryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/blowfish-file-encryption.html}">Blowfish file encryption online</a></li>
    </ul>
    <hr>
    <ul>
        <li><a th:href="@{/cryptographic-tools/des-text-decryption.html}">DES text decryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/des-file-decryption.html}">DES file decryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/3des-text-decryption.html}">3DES text decryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/3des-file-decryption.html}">3DES file decryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/aes-text-decryption.html}">AES text decryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/aes-file-decryption.html}">AES file decryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/blowfish-text-decryption.html}">Blowfish text decryption online</a></li>
        <li><a th:href="@{/cryptographic-tools/blowfish-file-decryption.html}">Blowfish file decryption online</a></li>
    </ul>
</div>

</body>
</html>