html, body{height:100%;}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: #ffffff !important;
}

header {
    padding: 98px 0 32px;
}

section {
    padding: 56px 0;
}

.service-section {
    padding-top: 25px;
}

.data-input-section {
    padding-bottom: 25px;
}

.bg-primary {
    background-color: #24303e !important;
}

.main-section {
    padding-top: 70px;
}

div.related-tool{
    order: 0;
}

.related-tool div{
    margin-top: 55px;
}

.related-tool div .list-group-item {
    padding: 8px 10px;
}

div.on-ads{
    order: 1;
}

.padding-top-15 {
    padding-top: 150px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
}

.span-section {
    margin-top: 10px;
}

footer .container p {
    float: right;
    padding-right: 0;
}

.section-bg {
    background-color: #f6f6f7;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #009970;
    bottom: 0;
    left: 0;
}

.ou-overflow-scroll {
    overflow-y: scroll;
}

.ou-h-px-450 {
    max-height: 450px;
}

.ou-mt-18 {
    margin-top: 18px;
}

.card-block{
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: anywhere;
    height: 500px;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;

}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card .card-block.no-overflow {
    overflow: initial;
    overflow-x: inherit;
}

.section-title p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    padding: 40px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    width: 100%;
}
section.services {
    height: auto;
}

.services .icon-box .icon {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: 1px solid #009970;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    transition: ease-in-out 0.3s;
    color: #009970;
}

.services .icon-box .icon i {
    font-size: 28px;
}

.services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.services .icon-box h4 a {
    color: #36343a;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    border-color: #fff;
    /*box-shadow: 0px 0 30px 0 rgba(0, 0, 0, 0.1);*/
    box-shadow: 0px 0 25px 0 rgba(0, 153, 112, 0.5);
}

.services .icon-box:hover h4 a {
    color: #009970;
}

.services .icon-box:hover .icon {
    color: #fff;
    background: #009970;
}

/* End copy from */


/* START for file drag and drop*/
.files-drag-drop input {
    outline: 1px dashed #072124;
    outline-offset: -5px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 50px 0 100px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files-drag-drop input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files-drag-drop {
    position: relative
}

.files-drag-drop:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color-warning input{
    background-color: #ffffab;
}

.files-drag-drop:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: "Drag file here.";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

/* END for file drag and drop*/

/* tool component */
.tool-component:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
}

.tool-component:hover h5,
.tool-component:hover p {
    color: #fff
}


.CodeMirror-hscrollbar {
    height: 10px;
}

/*
    form
*/
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-bottom: 5px;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}