body {
    min-height: 100%;
}

header {
    padding: 98px 0 32px;
}

.data-input-section {
    padding-bottom: 25px;
}

.bg-primary {
    background-color: #24303e !important;
}

section {
    padding: 10px 0;
}

.main-section {
    padding-top: 100px;
}

@media screen and (min-width: 768px) {
  body {
    background-color: lightgreen;
  }
}