<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Online utilities Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="An online platform that serves free online utilities and tools to increase working effectiveness.">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>
<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to Online Utilities</h1>
        <p class="lead">An online platform serves you convenient and useful tools.</p>
    </div>
</header>

<section class="services section-bg pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title aos-init aos-animate" data-aos="fade-right">
                    <h2>MIME tools</h2>
                    <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h4><a href="/mime-tools/base64-file-encoder.html">Base64 file encoder</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <h4><a href="">Sed ut perspiciatis</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <h4><a href="">Magni Dolores</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Nemo Enim</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="services section-bg pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h4><a href="/mime-tools/base64-file-encoder.html">Base64 file encoder</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <h4><a href="">Sed ut perspiciatis</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <h4><a href="">Magni Dolores</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Nemo Enim</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title aos-init aos-animate" data-aos="fade-right">
                    <h2>Encryption tools</h2>
                    <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services section-bg pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title aos-init aos-animate" data-aos="fade-right">
                    <h2>Hashing Tool</h2>
                    <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h4><a href="/mime-tools/base64-file-encoder.html">Base64 file encoder</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <h4><a href="">Sed ut perspiciatis</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <h4><a href="">Magni Dolores</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Nemo Enim</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services section-bg pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h4><a href="/mime-tools/base64-file-encoder.html">Base64 file encoder</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <h4><a href="">Sed ut perspiciatis</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <h4><a href="">Magni Dolores</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Nemo Enim</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title aos-init aos-animate" data-aos="fade-right">
                    <h2>PDF tools</h2>
                    <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services section-bg pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title aos-init aos-animate" data-aos="fade-right">
                    <h2>Video tools</h2>
                    <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h4><a href="/mime-tools/base64-file-encoder.html">Base64 file encoder</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <h4><a href="">Sed ut perspiciatis</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <h4><a href="">Magni Dolores</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Nemo Enim</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services section-bg pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h4><a href="/mime-tools/base64-file-encoder.html">Base64 file encoder</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <h4><a href="">Sed ut perspiciatis</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <h4><a href="">Magni Dolores</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Nemo Enim</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title aos-init aos-animate" data-aos="fade-right">
                    <h2>Image Tools</h2>
                    <p>Magnam dolores commodi suscipit nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section></section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>