<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contact Us - Online Utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="An online platform that serves free online utilities and tools to increase working effectiveness.">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>
<section class="bg-primary text-white" role="contactus" >
    <div class="container text-center">
        <h1></h1>
        <p class="lead">An online platform serves you convenient and useful tools.</p>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>