<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="bg-dark footer">
    <div class="container pt-md-4">
            <p class="text-white">Copyright &copy; Onlineutilities.net 2020. All rights reserved.</p>
            <div class="float-left">
                <a href="/privacy-policy.html" class="p-md-2 p-2">Privacy Policy</a><a href="/term-and-conditions.html" class="p-md-2 p-2">Term and Conditions</a>
            </div>
    </div>
</footer>
</body>
</html>