<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="bg-dark footer">
    <div class="container">
        <div class="text-center mt-2 mt-md-2">
            <p class="mt-1 mt-md-1 mb-0 mb-md-0 text-white">Copyright &copy; Onlineutilities.net 2020</p>
            <a href="/privacy-policy.html" class="p-md-2 p-2">Privacy Policy</a><a href="/term-and-conditions.html" class="p-md-2 p-2">Term and Conditions</a>
        </div>
    </div>
</footer>
</body>
</html>