<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section></section>
<footer th:fragment="footer" class="bg-dark footer text-white pt-1 d-flex justify-content-center justify-content-sm-center align-items-center flex-column flex-md-row">
    <div>
        <div class="text-center justify-content-center justify-content-sm-center">Copyright &copy; Onlineutilities.net 2020.</div>
        <div class="text-center justify-content-center justify-content-sm-center">All rights reserved.</div>
        <div class="text-center justify-content-center justify-content-sm-center"><a href="/privacy-policy.html" class="p-md-2 p-2">Privacy Policy</a><a href="/term-and-conditions.html" class="p-md-2 p-2">Term and Conditions</a></div>
    </div>
</footer>
</body>
</html>