<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Online utilities Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="An online platform that serves free online utilities and tools to increase working effectiveness.">
    <link rel="icon" type="image/png"
          href="https://storage.googleapis.com/onlineutilities.net/static/onlineutilities.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        header {
            padding: 156px 0 100px;
        }

        section {
            padding: 150px 0;
        }

        .service-section {
            padding-top: 25px;
        }

        @media (max-width: 576px) {
            .col:nth-child(0n+1){
                padding-top: 3px;
            }
        }
    </style>
</head>

<body>

<div th:replace="header::header"></div>
<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to Online Utilities</h1>
        <p class="lead">An online platform serves you convenient and useful tools.</p>
    </div>
</header>

<section id="services" class="bg-light service-section">
    <div class="container">
        <div class="col-lg-8 mx-auto text-center">
            <h2>Tools we made</h2>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 pt-xs-5 pt-3 pt-sm-3">
                <ul class="list-group">
                    <a href="/mime-tools/" class="list-group-item list-group-item-action text-primary font-weight-bold">MIME tools</a>
                    <li class="list-group-item">Base64 Text-encoder and Base64 File-encoder </li>
                    <li class="list-group-item">HEX Text-encoder/HEX File-encoder</li>
                    <li class="list-group-item">URL encode and decode</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 pt-xs-5 pt-3 pt-sm-3">
                <div class="list-group" >
                    <a href="#" class="list-group-item list-group-item-action font-weight-bold">Encryption tools</a>

                    <a href="/tripledes-text-encryptor.html" class="list-group-item">Triple DES text-based encrypt online tool</a>
                    <a href="/tripledes-file-encryptor.html" class="list-group-item">Triple DES file encrypt online tool</a>
                    <a href="/tripledes-text-decryptor.html" class="list-group-item">Triple DES decrypt text-based online tool</a>
                    <a href="/tripledes-file-decryptor.html" class="list-group-item">Triple DES decrypt file online tool</a>
                    <a href="/tripledes-key-generator.html" class="list-group-item">Triple DES keyfile generate online tool</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 pt-xs-5 pt-3 pt-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action font-weight-bold">Hashing tools</a>

                    <a href="#" class="list-group-item">MD5 hash</a>
                    <a href="#" class="list-group-item">SHA-1</a>
                    <a href="#" class="list-group-item">SHA-256</a>
                    <a href="#" class="list-group-item">SHA-512</a>
                    <a href="#" class="list-group-item">Bcrypt hash</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 pt-xs-5 pt-3 pt-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action font-weight-bold">Format tools</a>

                    <a href="#" class="list-group-item">Base64 decode online</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About us</h2>
                <p class="lead">This web site provides to everyone totally free online tools.</p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p class="lead">We are willing to support you. If you need any requests or support, feel free to mail to
                    us at:<a href="mailto:onlineutilities.net@gmail.com" role="link">onlineutilities.net@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>