<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Online Utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An online platform that serves free online utilities and tools to increase working effectiveness.">
    <template th:replace="head::common-head"/>
</head>

<body>

<div th:replace="header::header"></div>
<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to Online Utilities</h1>
        <p class="lead">An online platform serves you convenient and useful tools.</p>
    </div>
</header>

<!-- MIME tools section-->
<section class="services section-bg pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title aos-init aos-animate" data-aos="fade-right">
                    <h2>MIME tools</h2>
                    <p>Multipurpose Internet Mail Extensions (MIME) is an Internet standard that extends the format of email messages to support text in character sets other than ASCII, as well as attachments of audio, video, images, and application programs</p>
                    <br>
                    <a id="" class="btn btn-primary" href="/mime-tools/" role="button">Browse all MIME tools</a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h4><a href="/mime-tools/base64-file-encoder.html">Base64 file encoder</a></h4>
                            <p>Upload your file and encoded easily. Encoded data could be download easily.</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <h4><a href="/mime-tools/base64-text-encoder.html">Base64 text encoder</a></h4>
                            <p>Encoding your text to base64 presentation. Multiple charset supported. Encoded data could be download easily.</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <h4><a href="">Base64 text decoder</a></h4>
                            <p>Decode base64 data to origin text value. Allows to easily download decoded text as file.</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Base64 file encoder</a></h4>
                            <p>Decode a base64 encode file to origin file. </p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="/mime-tools/url-encoder.html">URI encoder</a></h4>
                            <p>Encode your URI. Support for Reserved Characters and Unreserved Marks</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="/mime-tools/url-decoder.html">Base64 file decoder</a></h4>
                            <p>Decode your URI. Support for Reserved Characters and Unreserved Marks</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="#">HEX encoder</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="#">HEX decoder</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="/mime-tools/">Browse more</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Cryptographic tools section-->
<section class="services section-bg pt-md-5">
    <div class="container">
        <div class="row reverse-col-order">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h4><a href="/mime-tools/base64-file-encoder.html">3DES encryptor</a></h4>
                            <p>Encrypt your data using 3DES Cryptographic Algorithm.</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <h4><a href="">3DES keyfile generator</a></h4>
                            <p>Generating Triple DES(3DES) keyfile.</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <h4><a href="">3DES decryptor</a></h4>
                            <p>Decrypt 3DES encrypted data to origin data.</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">AES encryptor</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">AES key generator</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">AES decryptor</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">RSA encryptor</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">RSA key generator</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">RSA decryptor</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Blowfish encryptor</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Blowfish key generator</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Blowfish decryptor</a></h4>
                            <p>Coming soon</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="section-title aos-init aos-animate" data-aos="fade-right">
                    <h2>Cryptographic tools</h2>
                    <p>Encrypt and Decrypt tool DES, Triple DES(3DES), AES, RSA and Blowfish</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hash Algorithm tools-->
<section class="services section-bg pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title aos-init aos-animate" data-aos="fade-right">
                    <h2>Hashing Tool</h2>
                    <p>Check hash and do hashing for you.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                            <h4><a href="/mime-tools/base64-file-encoder.html">MD5 Hash Algorithm</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                            <h4><a href="">SHA-1 Hash Algorithm</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                            <h4><a href="">SHA-256 Hash Algorithm</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">SHA-2 Hash Algorithm</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="400">
                            <h4><a href="">Bcrypt Hash Algorithm</a></h4>
                            <p>Generate hash value using Bcrypt algorithm. Bcrypt comparing</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>