<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Online utilities Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="An online platform that serves free online utilities and tools to increase working effectiveness.">
    <link rel="icon" type="image/png"
          href="https://storage.googleapis.com/onlineutilities.net/static/onlineutilities.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        header {
            padding: 156px 0 100px;
        }

        section {
            padding: 150px 0;
        }

        .service-section {
            padding-top: 25px;
        }
    </style>
</head>

<body>

<div th:replace="header::header"></div>
<header class="bg-primary text-white">
    <div class="container text-center">
        <h1>Welcome to Online Utilities</h1>
        <p class="lead">An online platform serves you convenient and useful tools.</p>
    </div>
</header>

<section id="services" class="bg-light service-section">
    <div class="container">
        <div class="col-lg-8 mx-auto text-center">
            <h2>Tools we made</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="list-group text-primary">
                    <a href="#" class="list-group-item list-group-item-action">Encoding tools</a>

                    <a href="/base64decode.html" class="list-group-item">Base64 decode online</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Encryption tools</a>

                    <a href="/tripledes-encryptor.html" class="list-group-item">Triple DES encrypt online</a>
                    <a href="/tripledes-decryptor.html" class="list-group-item">Triple DES decrypt online</a>
                    <a href="/tripledes/key-generator.html" class="list-group-item">Triple DES keyfile generate
                        online</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Hashing tools</a>

                    <a href="#" class="list-group-item">MD5 hash</a>
                    <a href="#" class="list-group-item">SHA-1</a>
                    <a href="#" class="list-group-item">SHA-256</a>
                    <a href="#" class="list-group-item">SHA-512</a>
                    <a href="#" class="list-group-item">Bcrypt hash</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Format tools</a>

                    <a href="#" class="list-group-item">Base64 decode online</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                    <a href="#" class="list-group-item">Coming soon</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About us</h2>
                <p class="lead">This web site provides to everyone totally free online tools.</p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p class="lead">We are willing to support you. If you need any requests or support, feel free to mail to
                    us at:<a href="mailto:onlineutilities.net@gmail.com" role="link">onlineutilities.net@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<div th:replace="scripts-include :: page-script"></div>
</body>

</html>