<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>XML format online - Online utilities</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keyword" content="xml, format, beautify, online, free">
    <meta name="description" content="Help to format xml online just for one click, is online and totally free.">
    <template th:replace="head::common-head"/>
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: 650px !important;
        }
    </style>
    <link rel=stylesheet th:href="@{~/vendor/codemirror/lib/codemirror.css}">
    </script>
    <script src="/vendor/codemirror/lib/codemirror.js"></script>
    <script src="/vendor/codemirror/lib/utils/formatting.js"></script>
    <script src="/vendor/codemirror/addon/fold/xml-fold.js"></script>
    <script src="/vendor/codemirror/mode/xml/xml.js"></script>
    <script src="/vendor/codemirror/mode/css/css.js"></script>
    <script src="/vendor/codemirror/mode/javascript/javascript.js"></script>
    <script src="/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>


</head>

<body>
<div th:replace="header::header"></div>
<section class="container-fluid main-section">
    <div class="row row flex-xl-nowrap">
        <div class="col-xs-12 col-md-12 col-lg-2 related-tool">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Related tools
                </a>
                <a th:href="@{~/format/json-beautify.html}" class="list-group-item">JSON beautifier</a>
                <a th:href="@{~/css-format-online.html}" class="list-group-item">CSS format</a>
                <a th:href="@{~/sql-format-online.html}" class="list-group-item">SQL format</a>
                <a th:href="@{~/mime-tools/escape-json.html}" class="list-group-item">Escape/Unescape special
                    characters</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-2 on-ads"></div>
        <div class="col-xs-12 col-md-12 col-lg-8">
            <div>
                <div class="text-center align-middle">
                    <h3 class="pb-3">Online XML formatter</h3>
                </div>
                <div>
                    <div class="pb-1">
                        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                data-target="#importModal">
                            Import from URL
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                                <path fill-rule="evenodd"
                                      d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                            </svg>
                        </button>
                        <input type="file" class="btn btn-outline-danger btn-sm" id="fileSelect"
                               accept="text/*"></input>
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                onclick="javascript:formatAll()">Format all
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                onclick="javascript:autoFormatSelection()">Format Selected
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                onclick="javascript:commentSelection(false)">Uncomment Selected
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm"
                                onclick="javascript:commentSelection(true)">Comment Selected
                        </button>
                    </div>
                    <textarea class="form-control" name="" id="xml-format" rows="30"></textarea>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input type="url" class="form-control" id="dataImportUrl" placeholder="data URL">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="dataImportOkBtn" class="btn btn-primary">Okay</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
<div th:replace="~{scripts-include :: page-script}"></div>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("xml-format"), {
        lineNumbers: true,
        mode: "htmlmixed",
        matchBrackets: true
    });

    function getSelectedRange() {
        return {from: editor.getCursor(true), to: editor.getCursor(false)};
    }

    function formatAll() {
        var totalLines = editor.lineCount();
        editor.autoFormatRange({line: 0, ch: 0}, {line: totalLines});
    }

    function autoFormatSelection() {
        var range = getSelectedRange();
        editor.autoFormatRange(range.from, range.to);
    }

    function commentSelection(isComment) {
        var range = getSelectedRange();
        editor.commentRange(isComment, range.from, range.to);
    }

    $('#importModal').on('click', '#dataImportOkBtn', function (event) {
        var url = $('#dataImportUrl').val();
        $.ajax({
            url: url
        }).done(function (xmlData) {
            $('#importModal').modal('hide');
            editor.setValue(xmlData);
        }).fail(function (e) {
            alert("Error occurred during import data")
        });
    })

    $(document).on('change', '#fileSelect', function (event) {
        var file = document.getElementById("fileSelect").files[0];
        if (file) {
            var reader = new FileReader();
            reader.readAsText(file, "UTF-8");
            reader.onload = function (evt) {
                editor.setValue(evt.target.result);
            }
            reader.onerror = function (evt) {
                alert("error reading file");
            }
        }
    })
</script>
</body>
</html>